<ion-view view-title="会员中心">
	<div class="buttons">
		<button class="button">返回</button>
	</div>
	<ion-content class="myset body-bg">
	
		<div class="list user-header">
			<div class="item item-avatar">
				<img src="img/avatar.png">
				<h2>蓝色水晶</h2>
				<p>anliry@sina.com</p>
				<div class="right-icon">
					<a href="#"><i class="mdi mdi-email"></i></a>
					<a href="#"><i class="mdi mdi-settings"></i></a>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="num">1568</div>
					<div class="label">积分(分)</div>
				</div>
				<div class="col">
					<div class="num">1568</div>
					<div class="label">ECT余额(元)</div>
				</div>
				<div class="col">
					<div class="num">1568</div>
					<div class="label">丞币(个)</div>
				</div>
			</div>

		</div>

		<div class="list no-top-border">
			<div class="item item-avatar carinfo">
				<img class="auto-size" src="img/logos/logo-10.png" alt="">
				<h2>兰博基尼2015新款</h2>
				<p>10.0TFSI标准型</p>
			</div>
		</div>
		<div class="list">
			<a class="item item-icon-left item-icon-right" href="#/tab/account/card">
				<i class="icon mdi mdi-tag-text-outline"></i>
				优惠券
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>
		<div class="list">
			<a class="item item-icon-left item-icon-right" href="#/myorder">
				<i class="icon mdi mdi-clipboard-text"></i>
				我的订单
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a class="item item-icon-left item-icon-right" href="#/tab/account/etc">
				<i class="icon mdi mdi-car"></i>
				我的ETC
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>
		<div class="list">
			<a class="item item-icon-left item-icon-right" href="#/tab/account/friend">
				<i class="icon mdi mdi-account-switch"></i>
				邀请好友
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a class="item item-icon-left item-icon-right" href="#/tab/account/help">
				<i class="icon mdi mdi-help"></i>
				帮助
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>
		<div class="list">
			<a class="item item-icon-left item-icon-right" href="#/tab/account/setting">
				<i class="icon mdi mdi-settings"></i>
				设置
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>
	</ion-content>
</ion-view>
