<ion-view view-title="附近">
  <ion-content class="body-bg">
    <ion-list class="no-top-border">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/near/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          <i class="icon ion-ios-trash-outline"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <menu-btn></menu-btn>
</ion-view>
