<ion-view view-title="图文详情">
	<ion-content class="body-bg img-wrap">
		<div class="list">
			<div class="item item-lgimg">
				<h2>1.初步清洗车辆</h2>
				<p>接待，检车，无接触式洗车</p>
				<img src="http://lorempixel.com/400/240/business/Pic2" alt="">
			</div>
			<div class="item item-lgimg">
				<h2>2.全方位清洗车辆</h2>
				<p>对车全身内外进行全方位无死角擦洗</p>
				<img src="http://lorempixel.com/400/240/food/Pic3" alt="">
			</div>
			<div class="item item-lgimg">
				<h2>3.初步清洗车辆</h2>
				<p>接待，检车，无接触式洗车</p>
				<img src="http://lorempixel.com/400/240/city/Pic4" alt="">
			</div>
			<div class="item">
				<div class="button-bar">
				  <a class="button button-positive button-outline button-small">5座及以下 ￥15</a>
				  <a class="button button-positive button-outline button-small">5座以上 ￥20</a>
				</div>
				<button class="button button-energized button-block mt+">立即购买</button>
			</div>
		</div>
	</ion-content>
</ion-view>
