<ion-view view-title="用户评价">
	<div class="tabs-striped tabs-top ">
		<div class="tabs">
			<a class="tab-item active">全部</a>
			<a class="tab-item">好评</a>
			<a class="tab-item">中评</a>
			<a class="tab-item">差评</a>
		</div>
	</div>

	<ion-content class="body-bg has-header+">
		<div class="list mt+">
			<div class="item">
				<div class="time-info">2015-08-20 <span class="tel">129****0658</span></div>
				<h2>这是评价内容</h2>
				<p class="mt">购买服务 电脑洗车一次</p>
			</div>
			<div class="item">
				<div class="time-info">2015-08-20 <span class="tel">129****0658</span></div>
				<h2>这是评价内容</h2>
				<p class="mt">购买服务 电脑洗车一次</p>
			</div>
			<div class="item">
				<div class="time-info">2015-08-20 <span class="tel">129****0658</span></div>
				<h2>这是评价内容</h2>
				<p class="mt">购买服务 电脑洗车一次</p>
			</div>
			<div class="item">
				<div class="time-info">2015-08-20 <span class="tel">129****0658</span></div>
				<h2>这是评价内容</h2>
				<p class="mt">购买服务 电脑洗车一次</p>
			</div>
			<div class="item">
				<div class="time-info">2015-08-20 <span class="tel">129****0658</span></div>
				<h2>这是评价内容</h2>
				<p class="mt">购买服务 电脑洗车一次</p>
			</div>
		</div>
	</ion-content>
</ion-view>
