<ion-view view-title="服务列表">
	<div class="bar bar-subheader row header-col">
		<a href="#" class="col">区域</a>
		<a href="#" class="col">镀晶贴膜</a>
		<a href="#" class="col">商家类型</a>
		<a href="#" class="col">智能排序</a>
	</div>
	<ion-content class="body-bg">
		<ul class="ser-list">
			<li class="list">
				<div class="item item-thumbnail-left">
					<img src="img/avatar.png" >
					<h2>上海大众汽车服务</h2>
					<p>上海大众集团旗下汽车服务型子公司</p>
					<div class="fr-box">
						<wf-star-rating rate="star1"></wf-star-rating>
						<em class="star-label">{{star1}}</em>
						<div class="distance">186.5km</div>
					</div>
				</div>
				<div class="item item-button-right">
					<h2>上海大众3M3N9001贴膜</h2>
					<div class="buy">
						<span class="price"><em>￥</em>188</span>
						<em class="old-price mr++">￥998</em>
						199人已买
					</div>
					<a href="#/tab/home/services/order" class="button button-energized">购买</a>
				</div>
				<div class="item item-button-right">
					<h2>上海大众3M3N9001贴膜</h2>
					<div class="buy">
						<span class="price"><em>￥</em>298</span>
						<em class="old-price mr++">￥1098</em>
						985人已买
					</div>
					<a href="#/tab/home/services/order" class="button button-energized">购买</a>
				</div>

				<a class="item more-data">更多4个服务 <i class="mdi mdi-chevron-down"></i></a>
			</li>
			<li class="list">
				<div class="item item-thumbnail-left">
					<img src="img/avatar.png" >
					<h2>上海永乐汽车服务</h2>
					<p>上海永乐集团旗下汽车服务型子公司</p>
					<div class="fr-box">
						<wf-star-rating rate="star2"></wf-star-rating>
						<em class="star-label">{{star2}}</em>
						<div class="distance">15.00km</div>
					</div>
				</div>
				<div class="item item-button-right">
					<h2>上海大众3M3N9001贴膜</h2>
					<div class="buy">
						<span class="price"><em>￥</em>188</span>
						<em class="old-price mr++">￥998</em>
						199人已买
					</div>
					<a href="#/tab/home/services/order" class="button button-energized">购买</a>
				</div>
				<div class="item item-button-right">
					<h2>上海大众3M3N9001贴膜</h2>
					<div class="buy">
						<span class="price"><em>￥</em>298</span>
						<em class="old-price mr++">￥1098</em>
						985人已买
					</div>
					<a href="#/tab/home/services/order" class="button button-energized">购买</a>
				</div>

				<a class="item more-data">更多4个服务 <i class="mdi mdi-chevron-down"></i></a>
			</li>
		</ul>
	</ion-content>
</ion-view>
