<ion-view view-title="服务详情">
	<ion-content class="body-bg service-detail-wrap">
		<div class="title-bar row">
			<div class="col">
				<h4>电脑洗车一次</h4>
			</div>
			<div class="col col-25">
				<a class="collection">
					<i class="mdi mdi-star"></i>
					<span class="label">收藏</span>
				</a>
			</div>
		</div>
		<div class="list">
			<div class="item">
				<span class="price"><em>￥</em>188</span>
				<em class="old-price mr++">￥998</em>
			</div>
			<div class="item">
				<div class="button-bar">
				  <a class="button button-positive button-outline button-small">5座及以下</a>
				  <a class="button button-positive button-outline button-small">5座以上</a>
				</div>
				<button class="button button-positive button-block mt+">立即购买</button>

				<div class="row text-center return-type">
					<div class="col"><i class="ion-android-checkmark-circle tc-green-500"></i> 随时可退</div>
					<div class="col"><i class="ion-android-checkmark-circle tc-green-500"></i> 过期可退</div>
					<div class="col"><i class="ion-android-checkmark-circle tc-green-500"></i> 先行赔付</div>
				</div>
			</div>
			
		</div>
		<div class="list">
			<div class="item item-title">
				<i class="mdi mdi-message-text-outline"></i>
				服务评价
			</div>
			<div class="item">
				<div class="time-info">2015-08-20 <span class="tel">129****0658</span></div>
				<h2>这是评价内容</h2>
				<p class="mt">购买服务 电脑洗车一次</p>
			</div>
			<a class="item more-data">
				查看更多评价
			</a>
		</div>
		<div class="list">
			<div class="item item-title">
				<i class="mdi mdi-store"></i>
				名模式界方庄店
			</div>
			<div class="item">
				<p>上海浦东环路100号</p>
				<div class="btn-row row">
					<div class="col">
						<a class="button button-stable button-outline button-icon button-block">
							<i class="mdi mdi-phone"></i>
							立即拨打
						</a>
					</div>
					<div class="col">
						<a class="button button-stable button-outline button-icon button-block">
							<i class="mdi mdi-store"></i>
							进入店铺
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="list">
			<div class="item item-title">
				<i class="mdi mdi-timetable"></i>
				服务截至日期
			</div>
			<div class="item">
				<p>长期有效</p>
			</div>
			<div class="item item-title">
				<i class="mdi mdi-clipboard-text"></i>
				服务项目
			</div>
			<div class="item">
				<table class="table">
					<thead>
						<tr>
							<th>项目性质</th>
							<th>服务项目</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>标准项目</td>
							<td>轮廓清晰</td>
						</tr>
						<tr>
							<td>商家特色</td>
							<td>初步清洗车辆</td>
						</tr>
					</tbody>
				</table>
			</div>
			<a class="item item-icon-right tc-deep-orange-500">
				查看以上服务图文详情
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>
		<div class="list">
			<div class="item item-title">
				<i class="mdi mdi-book"></i>
				购买须知
			</div>
			
			<div class="item">
				<p>是否预约：无需预约</p>
				<p>大车服务时长：20分钟</p>
				<p>小车服务时长：20分钟</p>
				<p>产品详情：</p>
				<p>暂无</p>
				<p>优惠说明：</p>
				<p>暂无</p>
			</div>
			<div class="item item-divider">
				看该服务的人还看了
			</div>
			<div class="item">
				<h2>北京望桥形象店</h2>
				<p class="mv">电脑洗车洗车一次</p>
				<span class="price"><em>￥</em>188</span>
				<em class="old-price mr++">￥998</em>
			</div>
			<div class="item">
				<h2>上海保时捷服务店</h2>
				<p class="mv">电脑洗车洗车一次</p>
				<span class="price"><em>￥</em>988</span>
				<em class="old-price mr++">￥9899</em>
			</div>
		</div>
	</ion-content>
</ion-view>
