<ion-view view-title="服务协议">
    <ion-content class="body-bg">
        <h4 class="title">车丞车管家服务协议</h4>
        <div class="text-wrap p++"> 
            <h5>1. 接受条款。</h5>
            <p>
                进入问卷星网站即表示您同意自己已经与问卷星订立本协议，且您将受本协议的条款和条件 (“条款”) 约束。问卷星可随时自行全权决定更改“条款”。如“条款”有任何变更，问卷星将在其网站上刊载公告，通知予您。如您不同意相关变更，必须停止使用“服务”。经修订的“条款”一经在问卷星网站公布后，立即自动生效。您应在第一次登录后仔细阅读修订后的“条款”，并有权选择停止继续使用“服务”；一旦您继续使用“服务”，则表示您已接受经修订的“条款”，当您与问卷星发生争议时，应以最新的服务协议为准。除另行明确声明外，任何使“服务”范围扩大或功能增强的新内容均受本协议约束。
            </p> 
            
            <h5>2. 谁可使用问卷星？</h5> 
            <p>
                “服务”仅供能够根据相关法律规定的有完全民事行为能力的人（自然人或公司）。问卷星可随时自行全权决定拒绝向任何人士提供“服务”。
            </p>
            
            3. 费用。 
            <p>
                问卷星保留在根据第1条通知您后，收取“服务”费用的权利。您因进行交易、向问卷星获取有偿服务或其他行为而发生的相关税赋和费用均由您自行承担。问卷星保留在无须发出书面通知，仅在本网站公示的情况下，暂时或永久地更改或停止部分或全部“服务”的权利。
            </p>
            
            <h5>4.1 注册义务。</h5> 
            <p>
                如您在问卷星网站注册，您同意：(a) 根据问卷星所刊载的会员资料表格的要求，提供关于您或贵公司的真实、准确、完整和反映当前情况的资料；(b) 维持并及时更新会员资料，使其保持真实、准确、完整和反映当前情况。倘若您提供任何不真实、不准确、不完整或不能反映当前情况的资料，或问卷星有合理理由怀疑该等资料不真实、不准确、不完整或不能反映当前情况，问卷星有权暂停或终止您的注册身份及资料，并拒绝您在目前或将来对“服务”(或其任何部份) 以任何形式使用。如您代表一家公司或其他法律主体在问卷星登记，则您声明和保证，您有权使该公司或其他法律主体接受本协议“条款”约束。
            </p>
           
            <h5>4.2 会员注册名、密码和保密。</h5>
            <p>
                在登记过程中，您将选择会员注册名和密码。您须自行负责对您的会员注册名和密码保密，且须对您在会员注册名和密码下发生的所有活动承担责任。您同意：(a) 如发现任何人未经授权使用您的会员注册名或密码，或发生违反保密规定的任何其他情况，您会立即通知问卷星；及 (b) 确保您在每个上网时段结束时，以正确步骤离开网站。问卷星不能也不会对因您未能遵守本款规定而发生的任何损失或损毁负责。
            </p> 
            
        </div>
    </ion-content>
</ion-view>
