<ion-view view-title="优惠券">
	<div class="bar bar-subheader item-input bs">
		 <label class="item-input-wrapper">
		   <input type="text" placeholder="请输入您的优惠码">
		 </label>
		 <button class="button button-positive">
		   立即兑换
		 </button>
	</div>
	<ion-content class="body-bg">
	
		<div class="padding pt+">
			<div class="button-bar">
			  <a class="button button-positive button-outline button-small active">优惠券</a>
			  <a class="button button-positive button-outline button-small">兑换记录</a>
			</div>
		</div>

		<ion-list>

		    <ion-item class="item item-thumbnail-left item-text-right" href="#/tab/account/card/card-detail">
		        <img src="img/thum.png">
		        <h2>蚂蚁车漆宝</h2>
		        <p>终身无限次漆面划痕修复</p>
		        <div class="price mt"><em>价格：</em>1999</div>
		        <div class="right-wrap"><span class="lb tc-green-500">有效</span></div>
		    </ion-item>
		    <ion-item class="item item-thumbnail-left item-text-right" href="#/tab/account/card/card-detail">
		        <img src="img/thum2.png">
		        <h2>蚂蚁养护宝</h2>
		        <p>提供2次小保养服务及24项检测</p>
		        <div class="price mt"><em>价格：</em>899</div>
		        <div class="right-wrap"><span class="lb tc-deep-orange-500">已使用</span></div>
		    </ion-item>
		    <ion-item class="item item-thumbnail-left item-text-right" href="#/tab/account/card/card-detail">
		        <img src="img/thum.png">
		        <h2>蚂蚁车漆宝</h2>
		        <p>终身无限次漆面划痕修复</p>
		        <div class="price mt"><em>价格：</em>1999</div>
		        <div class="right-wrap"><span class="lb tc-green-500">有效</span></div>
		    </ion-item>
		    <ion-item class="item item-thumbnail-left item-text-right" href="#/tab/account/card/card-detail">
		        <img src="img/thum2.png">
		        <h2>蚂蚁养护宝</h2>
		        <p>提供2次小保养服务及24项检测</p>
		        <div class="price mt"><em>价格：</em>899</div>
		        <div class="right-wrap"><span class="lb tc-deep-orange-500">已使用</span></div>
		    </ion-item>


		</ion-list>
		
	</ion-content>
</ion-view>
