<ion-view view-title="优惠券详情">

	<ion-content class="body-bg">

		<ion-list>

		    <ion-item class="item item-thumbnail-left item-text-right" href="#/tab/account/card/card-detail">
		        <img src="img/thum.png">
		        <h2>蚂蚁车漆宝</h2>
		        <p>终身无限次漆面划痕修复</p>
		        <div class="price mt"><em>价格：</em>1999</div>
		        <div class="right-wrap"><span class="lb tc-green-500">有效</span></div>
		    </ion-item>
		    <ion-item>
				<span class="lb tc-blue-500 mr+">蚂蚁车漆宝</span>
				优惠码：SMB2343235433
		    </ion-item>

		</ion-list>
		<div class="list">
			<div class="item">
				<div class="img-wrap"><img src="img/slides/slide-4.jpg"></div>
			</div>
			<div class="item item-divider">服务详情</div>
			<div class="item">
				<p>服务名称：车丞终极保养</p>
				<p>服务范围：车身油漆服务</p>
				<p>使用场景：意外导致车身油漆划伤的情况下</p>
			</div>
			<div class="item item-divider">使用门店</div>
			<div class="item">
				<h2>爱车屋浦东店</h2>
				<p class="tc-grey-600">上海市浦东新区湖南8219号 <span class="fr tc-grey-500">2.4km</span></p>
			</div>
			<div class="item">
				<h2>车保姆徐汇店</h2>
				<p class="tc-grey-600">上海市徐汇区斜土路1253号(近体育场) <span class="fr tc-grey-500">2.4km</span></p>
			</div>
			<div class="item">
				<h2>爱车屋浦东店</h2>
				<p class="tc-grey-600">上海市浦东新区湖南8219号 <span class="fr tc-grey-500">2.4km</span></p>
			</div>
			<div class="item">
				<h2>爱车屋浦东店</h2>
				<p class="tc-grey-600">上海市浦东新区湖南8219号 <span class="fr tc-grey-500">2.4km</span></p>
			</div>
		</div>
		
	</ion-content>
</ion-view>
