<ion-view view-title="我的订单">
<!-- 
	<div class="tabs-striped tabs-top ">
		<div class="tabs">
			<a class="tab-item active">全部</a>
			<a class="tab-item">待付款</a>
			<a class="tab-item">未使用</a>
			<a class="tab-item">待评价</a>
			<a class="tab-item">退款单</a>
		</div>
	</div>

	<ion-content class="body-bg has-header+">
		<div class="list mt+">
			<div class="item item-title">
				发动机舱
			</div>
			<div class="item">
				<div class="time-info">2015-08-20 <span class="tel">129****0658</span></div>
				<h2>这是评价内容</h2>
				<p class="mt">购买服务 电脑洗车一次</p>
			</div>
		</div>
	</ion-content>
 -->


	<ion-nav-buttons side="left">
		<a class="button back-button  button-clear" href="#/tab/account">
			<i class="icon ion-ios-arrow-back"></i> 
	    </a>
	</ion-nav-buttons>
	<ion-tabs class="tabs-striped tabs-top ">

		<ion-tab title="全部">
	    	<ion-content class="body-bg has-header+">
	    		<ion-list>
	    			<ion-item class="item-title">
	    				发动机舱
	    				<span class="fr lb tc-green-500">未使用</span>
	    			</ion-item>
	    			<ion-item class="item-text-right" href="#/myorder/myorder-detail">
	    				<h2>==上门服务==发动机舱清洗-车女婿</h2>
	    				<p>优惠有效期：2015-09-21 12:23</p>
	    				<p>优惠码：Y708064</p>
	    				<div class="right-wrap">
	    					<div class="price"><em>￥</em>99</div>
	    				</div>
	    			</ion-item>
	    			<ion-item class="item-text-right" href="#/myorder/myorder-detail">
	    				<h2>发动机舱清洗-车女婿</h2>
	    				<p>优惠有效期：2015-09-21 12:23</p>
	    				<p>优惠码：Y708064</p>
	    				<div class="right-wrap">
	    					<div class="price"><em>￥</em>19</div>
	    				</div>
	    			</ion-item>

	    			<ion-item class="text-right">
	    				<p>
	    					<span class="mr+">数量：1</span>
	    					<span>实付：￥99</span>
	    				</p>
	    			</ion-item>
	    			<ion-item class="text-right">
	    				<button class="button button-stable">退款申请</button>
	    			</ion-item>
	    		</ion-list>
	    	</ion-content>
		</ion-tab>
		<ion-tab title="待付款" >
	    	<ion-content class="body-bg has-header+">
	    		<div class="list mt+">
	    			<div class="item item-title">
	    				离合器清洗
	    				<span class="fr lb tc-deep-orange-500">已使用</span>
	    			</div>
	    			<div class="item item-text-right">
	    				<h2>==上门服务==发动机舱清洗-车女婿</h2>
	    				<p>优惠有效期：2015-09-21 12:23</p>
	    				<p>优惠码：Y708064</p>
	    				<div class="right-wrap">
	    					<div class="price"><em>￥</em>99</div>
	    				</div>
	    			</div>

	    			<div class="item text-right">
	    				<p>
	    					<span class="mr+">数量：1</span>
	    					<span>实付：￥99</span>
	    				</p>
	    			</div>
	    		</div>
	    	</ion-content>
		</ion-tab>
		<ion-tab title="未使用" >
	    	<div class="padding">未使用</div>
		</ion-tab>
		<ion-tab title="待评价" >
	    	<div class="padding">待评价</div>
		</ion-tab>
		<ion-tab title="退款单" >
	    	<div class="padding">退款单</div>
		</ion-tab>

	</ion-tabs>
	
</ion-view> 
