<ion-view view-title="我的订单详情">

	<ion-content class="body-bg">
		<div class="list mt+">
			<div class="item item-title">
				发动机舱
				<span class="fr lb tc-grey-400">未消费</span>
			</div>
			<div class="item item-text-right">
				<h2>==上门服务==发动机舱清洗-车女婿</h2>
				<p>优惠码：Y708064</p>
				<div class="right-wrap">
					<div class="price"><em>￥</em>99</div>
				</div>
			</div>
			<ion-item class="item-icon-right" href="#/tab/account/card">
				优惠券
				<span class="item-note">未使用</span>
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
			<div class="item text-right">
				<span class="mr+">数量：1</span>
				<span>实付：￥99</span>
			</div>
			<div href="tel:40058572698" class="item item-icon-right">
				<h2>车女婿</h2>
				<p>营业时间：每日 08:00 - 23:00</p>
				<p>地点：上海市</p>
				<a href="tel:40085469658" class="icon-btn mdi mdi-phone"></a>
			</div>
			<div class="item">
				<p class="tc-grey-500">成交时间：2015-09-25 12:30</p>
				<p class="tc-grey-500">订单号：EF4355145245</p>
				<p class="tc-grey-500">手机号：13658452452</p>
			</div>
		</div>
		<div class="padding text-right">
			<button class="button button-positive mr+">重获优惠码</button>
			<button class="button button-energized">申请退款</button>
		</div>
	</ion-content>

</ion-view> 
