<ion-view view-title="设置">

	<ion-content class="body-bg">
	
		<div class="list">
			<a class="item item-icon-right" href="#">
				关于车丞
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>
		<div class="list">
			<a class="item item-icon-right" href="#">
				意见反馈
				<i class="icon ion-ios-arrow-right"></i>
			</a>
			<a class="item item-icon-right" href="#">
				帮助说明
				<i class="icon ion-ios-arrow-right"></i>
			</a>
		</div>
		<div class="p+">
			<button class="button button-block button-positive">退出登录</button>
		</div>
		
	</ion-content>
</ion-view>
